.put-us
    .put-us__bar-black
    .office
        .office__contact
            .office__data
                span.office__icon.icon-location
                p.office__text= "AV. PABLO CASALS #580, LOS CEDROS."
            .office__data
                span.office__icon.icon-phone
                p.office__text= "456 789 123"
            .office__data
                span.office__icon.icon-schedule
                p.office__text= "LUNES A VIERNES: 8:00 AM - 8:00 PM."        
        iframe.office__map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1975.0035212027292!2d-79.04511821655738!3d-8.100762799271015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91ad3dbdd16680ab%3A0x41251c0566cd89b3!2sEscuela+de+Conductores+Global+Car!5e0!3m2!1ses-419!2spe!4v1499920579530" frameborder="0" allowfullscreen) 
    .office
        .office__contact
            .office__data
                span.office__icon.icon-location
                p.office__text= "AV. PABLO CASALS #580, LOS CEDROS."
            .office__data
                span.office__icon.icon-phone
                p.office__text= "456 789 123"
            .office__data
                span.office__icon.icon-schedule
                p.office__text= "LUNES A VIERNES: 8:00 AM - 8:00 PM."        
        iframe.office__map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d987.4586829486791!2d-79.02561117083702!3d-8.118303999634735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91ad3d78d3ae5a45%3A0x612b57710b5abdb4!2sEscuela+de+Conductores+Global+Car+-+Costa+Rica!5e0!3m2!1ses-419!2spe!4v1499920946375" frameborder="0" allowfullscreen) 
    
         