.put-us
    .office
        .office__contact
            .office__data
                span.office__icon.icon-location
                p.office__text= "AV. PABLO CASALS #580, LOS CEDROS."
            .office__data
                span.office__icon.icon-phone
                p.office__text= "456 789 123"
            .office__data
                span.office__icon.icon-schedule
                p.office__text= "LUNES A VIERNES: 8:00 AM - 8:00 PM."        
        iframe.office__map(src="https://www.google.com/maps/d/u/0/embed?mid=1xV8WVKWLGs_XdmO3M7nK39HLEog" frameborder="0")  
    .office
        .office__contact
            .office__data
                span.office__icon.icon-location
                p.office__text= "AV. PABLO CASALS #580, LOS CEDROS."
            .office__data
                span.office__icon.icon-phone
                p.office__text= "456 789 123"
            .office__data
                span.office__icon.icon-schedule
                p.office__text= "LUNES A VIERNES: 8:00 AM - 8:00 PM."        
        iframe.office__map(src="https://www.google.com/maps/d/u/0/embed?mid=1xV8WVKWLGs_XdmO3M7nK39HLEog" frameborder="0")  
    
         